name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      utorrent:
        image: ekho/utorrent:latest
        ports:
          - '8080:8080'
          - '6881:6881'
          - '6881:6881/udp'
    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v6

      # https://github.com/wyvox/action-setup-pnpm
      - uses: wyvox/action-setup-pnpm@v3
        with:
          node-version: 24

      - name: lint
        run: pnpm run lint

      - name: test
        run: pnpm run test
